.social-media-icon-container {
    position: relative;
    display: inline-block;
}

.social-media-icon {
    width: 3em;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    cursor: pointer;
}

.social-media-icon:hover {
    opacity: 0.5;
}

.social-media-icon-container:hover::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
    
}
.social-media-icon-container.hover-state { 
    background-image: url("");
} 